:root {
  --color-dark: #1a1a1a;
  --color-light: #fafafa;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
  user-select: none;
  margin: 0;
}

@keyframes gradation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

a {
  color: var(--color-light);
  text-decoration: none;
}

.page {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
}
