:root {
  --color-dark: #101010;
  --color-light: #fafafa;
  --color-primary: #ff6f00;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
  user-select: none;
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.page {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
}
