:root {
  --color-dark: #1a1a1a;
  --color-light: #fafafa;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
  user-select: none;
  margin: 0;
  width: 100vw;
  height: 100vh;
  // グラデーション背景
  background: linear-gradient(45deg, #89c4ff, #ff8989);
  background-size: 600% 600%;
  animation: GradientBackground 30s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  color: var(--color-light);
  text-decoration: none;
}

.page {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
}
