.start-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // ガラス
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2em);
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  letter-spacing: 0.2em;
  cursor: pointer;
  width: 300px;
  height: 100px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
