.countdown-timer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;

  &.pause {
    opacity: 0.3;
  }

  &.rest-mode {
    color: #8bc34a;
  }

  .output {
    font-family: monospace;
    font-size: 150px;
    letter-spacing: 0.1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.2em;
  }
}
